

.cart-widget {
    display: flex;
    align-items: center;
}


.item-cart-product {
/* float: left; */
display: flex;
max-width: 600px;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
}

.item-cart-product img {
width: 25%;
}

 .cart-product__details {
padding: 3px;

display: flex;
flex-direction: row;
align-items: center;
}

.width_25{
width: 20%;
}
.width_50{
    width: 50%;
}
.cart-product__action {
width: 10%;
display: flex;
align-items: center;
}

.cantidad-cart{
border-radius: 50%;
border: 1px solid rgb(0, 0, 0);
text-align: center;
color: rgb(255, 255, 255);
font-weight: bold;
padding: 3px;
background-color: rgb(138, 138, 138);
}